@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@90,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@90,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wdth,wght@90,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .spacebettween {
    justify-content: space-between;
  }

  header {
    align-items: center;
    background-color: #818181;
    width: 100%; 
    position: sticky;
    top:0;
  }



 .Imagetete {
    margin-left: 623px;
    width: 40px;
    margin-top: 8px;
    margin-bottom: 2px;
    object-fit:cover;
 }
  
  ul {
    list-style-type: none;
    margin-left: 490px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

.textband {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: "Anek Kannada", sans-serif;
  font-style: normal;
  font-size: 16px;
}

main {
  width: 100%;
  background-color: #e2e2e2;
}

.textegauche1 {
  width: 50%;
  margin-top: 80px;
  margin-left:100px;
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style:italic;
  font-size: 35px;
}

.textegauche2 {
  width: 50%;
  margin-top: 45px;
  margin-left:100px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style:normal;
  font-size: 15px;
}

.imageprogau {
  width: 50%;
  justify-content:right;
  align-items: baseline;
  margin-bottom: 40px;
  margin-left: 510px;
  margin-top: -160px;
}

.Imageprofile {
  width: 360px;
  border-radius: 15px;
}

/* Code de Nicolas
.Imageprofile::before{
  position: absolute;
  z-index: 10;
  content : "";
  width: 360px;
  height: 360px;
  background-color: red;
}*/

.card {
  width: 300px;
  margin-top: 100px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 4px 4px 12px hsla(0, 0%, 0%, 0.379);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style:normal;
  font-size: 10px;
}

.card h3 {
  margin-top: 16px;
  margin-bottom: 13px;
  color: black;
  font-family: "Anek Kannada", sans-serif;
  font-style: normal;
  font-size: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.btn2 {
  padding: 12px 32px;
  background-color: #818181;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style:normal;
  font-size: 12px;
}

.projettitre {
  margin-top: 20px;
  margin-left: 207px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: "Anek Kannada", sans-serif;
  font-style: normal;
  font-size: 19px;
}

.passions {
  margin-top: 20px;
  margin-left: 100px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: "Anek Kannada", sans-serif;
  font-style: normal;
  font-size: 19px;
}
